// Setting parameters
@BaseC:#555;  
@LinkC:#44a340;  
@HoverC:#f60;
@FontSize:13px; 

@charset "UTF-8";  

body,ul,ol,dl,dd,h1,h2,h3,h4,h5,h6,pre,form,fieldset,legend,input,button,textarea,p,blockquote,table,th,td,menu{margin:0;padding:0}  
table{border-collapse:collapse;border-spacing:0;table-layout:fixed}  
ul,ol,menu{list-style:none}  
fieldset,img{border:none}  
img,object,select,input,textarea,button{vertical-align:middle}  
input,textarea,select,address,caption,cite,code,dfn,em,i,b,strong,small,th,var,abbr{font-size:100%;font-style:normal}  
caption,th {text-align: left;}  
article,aside,footer,header,hgroup,nav,section,figure,figcaption {display: block;}  
code, kbd, pre, samp, tt { font-family: Consolas,"Courier New", Courier, monospace;}  
address, cite, dfn, em, var,i {font-style: normal;}  
blockquote, q {quotes: none;}  
blockquote:before, blockquote:after,q:before, q:after {content:"";content: none;}  
a {   
    color:@LinkC; text-decoration:none;cursor: pointer;  
    &:link,&:visited, &:active{color: @LinkC;text-decoration:none;}  
    &:hover, &:focus {color:@HoverC; outline:none;}  
    &,span,i,em,u,strong,b,p,img,ul,li,div,dd,dt,dl,ol,table,th,td,h1,h2,h3,h4,h5,h6,input,textarea,button,small,select {cursor: pointer;.dz;}  
}  
  
abbr[title], acronym[title] {border-bottom: 1px dotted;cursor: help;}  
  
body {font-size: @FontSize;color: @BaseC;}  
body,button, input, select, textarea {font-family:Helvetica Neue,Helvetica,Arial,PingFang SC,Hiragino Sans GB,WenQuanYi Micro Hei,Microsoft Yahei,sans-serif;*font-family:"\5FAE\8F6F\96C5\9ED1";}  
  
h1,h2,h3,h4,h5,h6{font-weight: normal;}
h1 {font-size: @FontSize+10;}  
h2 {font-size: @FontSize+8;}  
h3 {font-size: @FontSize+6;}  
h4 {font-size: @FontSize+4;}  
h5 {font-size: @FontSize+2;}  
h6 {font-size: @FontSize;}  
  
hr {border: none;height: 1px;background: lighten(@BaseC,50%);}  
  
.fl {float: left;}  
.fr {float: right;}  
.tl {text-align: left;}  
.tr {text-align: right;}  
.tc {text-align: center;}  
  
// .cf:before, .cf:after,.web:before, .web:after,.web_:before, .web_:after {content:"";display:table;}  
// .cf:after,.web:after,.web_:after {clear:both;}  
// .cf {zoom:1;}  
  
// .web {width: @WinWitdh;margin-left: auto;margin-right: auto;zoom:1;}  
// .web_ {min-width:@WinWitdh;width: 100%;zoom: 1;}  
  
.block {display: block;}  
.none {display:none}  
.clear {clear: both; }  
.dz(@time:0.25s){-webkit-transition: all @time ease-in-out;-moz-transition: all @time ease-in-out;-o-transition: all @time ease-in-out;transition: all @time ease-in-out;}  

.wrap {
	width: 100%;
	max-width: 650px;
	margin: 0 auto;
}

.content_wrap {
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -80px -150px; 
	width: 300px;
	p {
		text-align: center;
		font-size: 16px;
		color: #444;
		margin: 20px 0;
	}
}

.photo {
	display: block;
	width: 120px;
	height: 120px;
	border-radius: 50%;
	margin: 0 auto;
}

.main_entry {
	text-align: center;
	a{
		color: #44a340;
		font-size: 14px;
		margin: 0 8px;
		&:hover{
			color: #fff;
			background-color: #44a340;
		}
	}
}
.nav_top {
	width: 100%;
	overflow: hidden;
}
.nav_home_link {
	display: block;
	float: left;
	color: #44a340;
	margin-left: 20px;
	font-size: 14px;
	margin: 20px 50px;
	&:link,&:visited,&:active,&:focus{
		color: #44a340;
	}
	&:hover{
		color: #fff;
		background-color: #44a340;
	}
}

.article_list_wrap {
	width: 100%;
	max-width: 650px;
	box-sizing: border-box;
	padding: 0 5px;
	margin: 0 auto;
	p{
		height: 46px;
		border-bottom: 1px solid #e5e5e5;
		color: #44a340;
		overflow: hidden;
		box-sizing: border-box;
		padding: 16px 10px;
		&:hover{
			background-color: #f6f6f6;
		}

		a {
			display: block;
			max-width: 80%;
			float: left;
			color: #44a340;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			&:hover{
				color: #fff;
				background: #44a340;
			}
		}
		span {
			display: block;
			width: 20%;
			float: right;
			color: #999;
			text-align: right;
		}
	}
	.title{
		text-align: center;
		color: #999;
		&:hover{
			background-color: #fff;
		}
	}
}

.artical_title {
	color: #ed3f3f;
	margin: 10px 0;
}
.artical_time {
	color: #ccc;
	margin: 5px;
}
.artical p {
	font-size: @FontSize+2;
	margin-bottom: 5px;
}